<h1>Sign Up</h1>

<%= link_to "Sign in!", new_session_url %>

<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token  %>">

  <label for="email">Email
    <input type="text" name="user[email]">
  </label>

  <label for="password">Password
    <input type="password" name="user[password]">
  </label>


  <input type="submit">
</form>
